.toogle-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color: #f1f1f1;
}

.toogle-btn img{
    width: 30px;
    margin-left: 15px;
}

body.dark .toogle-btn{
    background-color: #f1f1f1;
    color: #181818;
}
